---
layout: default
---

<div class="home">
{% if site.default_bg %}
    {% if site.default_bg contains 'http' %}
        {% capture default_bg_uri %}{{ site.default_bg }}{% endcapture %}
    {% else %}
        {% capture default_bg_uri %}{{ site.url }}/images/{{ site.default_bg }}{% endcapture %}
    {% endif %}
    <div class="container-fluid welcome" style="background-image: url('{{default_bg_uri}}')">
{% else %}
	<div class="container-fluid welcome" style="background-image: url('{{ site.url }}/images/{{ site.default_bg }}')">
{% endif %}
		<div class="row">
			<div class="container">
				<div class="col-sm-6 box">
					<div class="welcome-wrapper">
						<h1><span class="image-headline">{{ site.title }}</span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid declaration-box">
		<div class="row">
			<div class="container">
				<div class="col-md-12 box">
					<h3>{{ site.description }}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% include meet-brian.html %} 
		{% include post-list.html %} 
	</div>
</div>
