<div class="col-md-12 box home-intro">
	<h3 class="section-header">Welcome</h3>
		<div class="row">
			<div class="col-md-3 callout">
				<img src="images/volunteer.png" class="img-responsive">
				<p>
					<strong>Volunteer</strong>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-md-3 callout">
					<img src="images/donate.png" class="img-responsive">
				<p>
					<strong>Donate </strong>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-md-3 callout">
				<img src="images/learn.png" class="img-responsive">
				<p>
					<strong>Thoughts</strong>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-md-3 callout">
				<img src="images/goal.png" class="img-responsive">
				<p>
					<strong>Goals</strong>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque massa ornare, sagittis eros non, lobortis dui. Mauris aliquam non urna nec bibendum. Integer pulvinar, tortor ut efficitur malesuada, ex urna euismod dolor, sed consectetur nunc massa non velit. Curabitur mollis efficitur orci quis auctor. 
	</p>
</div>