<div class="col-md-12 box home-intro">
	<h3 class="section-header">Welcome</h3>
	<div class="row">
		<div class="col-md-3 callout">
			<img src="images/volunteer.png" class="img-responsive">
			<p>
				<strong>Volunteer</strong>
			</p>
			<p>
				Want to get involved? Join our team! 
			</p>
			<a href="/volunteer/" class="btn btn-primary">Learn More</a>
		</div>
		<div class="col-md-3 callout">
				<img src="images/learn.png" class="img-responsive">
			<p>
				<strong>Thoughts</strong>
			</p>
			<p>
				Follow along with Brian's journey on our blog 
			</p>
			<a href="#latest-posts" class="btn btn-primary">Learn More</a>
		</div>
		<div class="col-md-3 callout">
			<img src="images/donate.png" class="img-responsive">
			<p>
				<strong>Donate</strong>
			</p>
			<p>
				Participate in the campaign through a contribution.
			</p>
			<a href="/donate/" class="btn btn-primary">Learn More</a>
		</div>
		<div class="col-md-3 callout">
			<img src="images/goal.png" class="img-responsive">
			<p>
				<strong>Goals</strong>
			</p>
			<p>
				Learn about Brian's goals for Lakewood 
			</p>
			<a href="/what-brian-stands-for/" class="btn btn-primary">Learn More</a>
		</div>
	</div>
	<h4>Thank you for your interest in Brian Taubman's campaign to become Lakewood Municipal Court Judge. </h4>
	<p>
		Brian is fair, compassionate, hard working and possesses an extensive knowledge of the law, which he applies in a consistent and reliable manner. He believes public service is a calling and he works hard every day to improve the lives of the citizens of Lakewood.
	</p>
</div>