---
layout: default
---
<div class="post">
	{% if site.default_bg %}
	    {% if site.default_bg contains 'http' %}
	        {% capture default_bg_uri %}{{ site.default_bg }}{% endcapture %}
	    {% else %}
	        {% capture default_bg_uri %}{{ site.url }}/images/{{ site.subpage_bg }}{% endcapture %}
	    {% endif %}
	    <div class="container-fluid welcome" style="background-image: url('{{default_bg_uri}}')">
	{% else %}
		<div class="container-fluid welcome" style="background-image: url('{{ site.url }}/images/{{ site.default_bg }}')">
	{% endif %}
		<div class="row">
			<div class="container">
				<div class="col-sm-6 box">
					<div class="welcome-wrapper">
						<h1><span class="image-headline">{{ site.title }}</span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-md-8 box">
			<h3 class="section-header">{{ page.title }}</h3>
			<article class="post-content">
				{{ content }}
			</article>
		</div>
		<div class="col-md-4 box">
			{% include sidebar.html %} 
		</div>
	</div>
</div>