---
layout: default
---
<div class="post">

	<div class="container-fluid subpage-header" style="background-image: url('{{ page.image }}');">
		<div class="row">
			<div class="container">
				<div class="col-md-6 box">
					<div class="welcome-wrapper">
						<h1><span class="image-headline">{{ site.title }}</span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-md-8 box">
			{% include share.html %} 
			<h3 class="section-header">Share </h3>
			<div class="post-title">
				<h1>{{ page.title }}</h1>
			</div>
			<span class="page-date">{{ page.date | date: "%b %-d, %Y" }}</span>
			<article class="post-content">
				{{ content }}
			</article>
		</div>
		<div class="col-md-4 box">
			{% include sidebar.html %} 
		</div>
	</div>

</div>